In [ ]:
import pandas as pd


pd.set_option("display.max_columns", None)

In [ ]:
airlines = pd.read_csv(r"Data\airlines.csv", sep=",")
airports = pd.read_csv(r"Data\airports.csv", sep=",")
flights = pd.read_csv(
    r"Data\flights.csv",
    sep=",",
    dtype={"ORIGIN_AIRPORT": str, "DESTINATION_AIRPORT": str},
)

# Funções de Suporte

In [22]:
def filtrar_nulos(df, coluna):
    """
    Retorna apenas as linhas onde
    a coluna especificada possui valores nulos.
    """
    return df[df[coluna].isna()]


def preencher_nulos(df, colunas, valor_preenchimento):
    df_copia = df.copy()
    df_copia[colunas] = df_copia[colunas].fillna(valor_preenchimento)

    return df_copia


def identificar_atraso(valor):
    if valor > 0:
        return 1
    return 0

In [27]:
airlines

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

- o Arquivo Possui 13 companhias aéreas cadastradas

In [28]:
airports

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [25]:
flights.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,20.0,-5.0,18.0,38.0,217.0,230.0,206.0,1589,604.0,6.0,602,610.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,19.0,-6.0,11.0,30.0,181.0,170.0,154.0,1299,504.0,5.0,526,509.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,44.0,14.0,13.0,57.0,273.0,249.0,228.0,2125,745.0,8.0,803,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,19.0,-11.0,17.0,36.0,195.0,193.0,173.0,1464,529.0,3.0,545,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,33.0,3.0,12.0,45.0,221.0,203.0,186.0,1747,651.0,5.0,711,656.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

# Verificação:

- verificar se conectores da tabela flights batem com os das tabelas airlines e airports

In [ ]:
print(flights["AIRLINE"].unique())
print(flights["ORIGIN_AIRPORT"].unique())
print(flights["DESTINATION_AIRPORT"].unique())

['AS' 'AA' 'US' 'DL' 'NK' 'UA' 'HA' 'B6' 'OO' 'EV' 'MQ' 'F9' 'WN' 'VX']
['ANC' 'LAX' 'SFO' 'SEA' 'LAS' 'DEN' 'SLC' 'PDX' 'FAI' 'MSP' 'PHX' 'SJU'
 'PBG' 'IAG' 'PSE' 'BQN' 'ORD' 'GEG' 'HNL' 'ONT' 'MCO' 'BOS' 'HIB' 'ABR'
 'MAF' 'DFW' 'MKE' 'IAH' 'BNA' 'BRO' 'VPS' 'BOI' 'BJI' 'SGF' 'PHL' 'SBN'
 'RDD' 'EUG' 'IAD' 'BUF' 'PWM' 'JFK' 'CRP' 'PIA' 'FAT' 'SMF' 'AUS' 'MCI'
 'ATL' 'JAX' 'MFR' 'IDA' 'MSN' 'DCA' 'SAT' 'CHS' 'SBA' 'SMX' 'IND' 'CLE'
 'GSP' 'BDL' 'ABI' 'RIC' 'BFL' 'OMA' 'RDM' 'FLL' 'CID' 'TPA' 'SYR' 'ROC'
 'TYR' 'LAN' 'XNA' 'GSO' 'EWR' 'PBI' 'RSW' 'OAK' 'PVD' 'RNO' 'PIT' 'ABQ'
 'MIA' 'BWI' 'LGA' 'TUL' 'LIT' 'MSY' 'OKC' 'ATW' 'PNS' 'MEM' 'TYS' 'MHT'
 'SAV' 'CLT' 'GRB' 'ABE' 'JAN' 'OAJ' 'FAR' 'ERI' 'LEX' 'CWA' 'MSO' 'TTN'
 'AMA' 'CLL' 'HOU' 'JLN' 'MLI' 'RDU' 'CVG' 'MHK' 'MOB' 'TLH' 'BHM' 'CAE'
 'TXK' 'ACY' 'DTW' 'RAP' 'TUS' 'EAU' 'DLH' 'FSD' 'INL' 'CMX' 'SPI' 'CLD'
 'COD' 'CMH' 'LRD' 'PSC' 'CPR' 'ACV' 'DAL' 'PAH' 'MRY' 'ESC' 'ISN' 'PSP'
 'MFE' 'STL' 'BTV' 'FSM' 'AEX' 'SPS' 'ACT' 'SJT' 'MTJ' 'GCC' 'OGG' 'SJC'
 'GUC' 'ORF' 'MOT' 'MLU' 'KOA' 'SAN' 'LAW' 'PIB' 'MGM' 'SBP' 'COS' 'LAR'
 'DRO' 'BIS' 'ITO' 'BTR' 'GRI' 'HLN' 'BZN' 'MDW' 'MDT' 'SCE' 'LIH' 'TWF'
 'BPT' 'GPT' 'STC' 'HPN' 'MLB' 'PLN' 'CIU' 'CAK' 'DSM' 'BLI' 'SHV' 'ROW'
 'FWA' 'SNA' 'ALB' 'HOB' 'LNK' 'CMI' 'COU' 'GTF' 'EKO' 'LGB' 'AVL' 'HSV'
 'SAF' 'GRR' 'SUX' 'LFT' 'HYS' 'ELP' 'DVL' 'ISP' 'BUR' 'DAB' 'DAY' 'GRK'
 'GJT' 'BMI' 'LBE' 'ASE' 'RKS' 'GUM' 'TVC' 'ALO' 'IMT' 'LCH' 'JNU' 'JAC'
 'MEI' 'DBQ' 'GCK' 'GNV' 'BRD' 'DIK' 'SDF' 'LBB' 'AVP' 'BTM' 'ELM' 'PIH'
 'ICT' 'SUN' 'LWS' 'VEL' 'STT' 'YUM' 'FLG' 'FCA' 'HDN' 'JMS' 'ROA' 'CHA'
 'EYW' 'MYR' 'CRW' 'MQT' 'CHO' 'ECP' 'EVV' 'EGE' 'MBS' 'GFK' 'TOL' 'BIL'
 'OTZ' 'KTN' 'STX' 'ILM' 'PUB' 'RHI' 'CDC' 'HRL' 'SCC' 'FNT' 'LSE' 'MMH'
 'APN' 'AGS' 'CEC' 'DHN' 'WRG' 'PHF' 'CNY' 'BRW' 'GGG' 'AZO' 'SRQ' 'ORH'
 'TRI' 'VLD' 'SIT' 'BQK' 'PSG' 'FAY' 'MKG' 'CSG' 'EWN' 'OME' 'SGU' 'RST'
 'GTR' 'BET' 'ABY' 'SWF' 'ILG' 'ADK' 'UST' 'YAK' 'CDV' 'OTH' 'ADQ' 'PPG'
 'BGM' 'BGR' 'ITH' 'ACK' 'MVY' 'WYS' 'DLG' 'AKN' 'GST' 'HYA' '14747'
 '14771' '12889' '12892' '14869' '10299' '11292' '14107' '11630' '10732'
 '14254' '10141' '10627' '11982' '12173' '13930' '14683' '12266' '11618'
 '10721' '13487' '11884' '15919' '13851' '11111' '10693' '12191' '14783'
 '15016' '14487' '10423' '15370' '11953' '13891' '15376' '11778' '11278'
 '14100' '13204' '15304' '11637' '14842' '10155' '11775' '11298' '11057'
 '13931' '10821' '14122' '11049' '10990' '10631' '13158' '14108' '13198'
 '11447' '12206' '13495' '14057' '15624' '10747' '15411' '12891' '10994'
 '13256' '10792' '14492' '12451' '13127' '10781' '14960' '12278' '14685'
 '11995' '13485' '11977' '10257' '13796' '13232' '13296' '14570' '14893'
 '14524' '12217' '10713' '10208' '10136' '11603' '14689' '11471' '11315'
 '13264' '12478' '14814' '11308' '11066' '12896' '10397' '14307' '11721'
 '11140' '10185' '13277' '11203' '13342' '11433' '11697' '12953' '10599'
 '12156' '14952' '10620' '11042' '15096' '10408' '15249' '11423' '12915'
 '12264' '12339' '10140' '13871' '14027' '13244' '11267' '11540' '14576'
 '10868' '13486' '13476' '14489' '12945' '15607' '10529' '11986' '14635'
 '13303' '10785' '15380' '11996' '10561' '10874' '13367' '10146' '10431'
 '11973' '10980' '12197' '14098' '12323' '10577' '11150' '10135' '11617'
 '13795' '13029' '11003' '11146' '11577' '15356' '11259' '10279' '14321'
 '14843' '11638' '14828' '11481' '12951' '10434' '12448' '14730' '15323'
 '14252' '11193' '10849' '14193' '14986' '11641' '12992' '13422' '11612'
 '11823' '11980' '13290' '10158' '10685' '13377' '11109' '11076' '11122'
 '11865' '14543' '14905' '11587' '14457' '12335' '12343' '12003' '10157'
 '12884' '14633' '15048' '10268' '15295' '12389' '11525' '14262' '12888'
 '12391' '11648' '14696' '12758' '13830' '10469' '15412' '10731' '14679'
 '14831' '11413' '13433' '12982' '11867' '14698' '11537' '15389' '12402'
 '11337' '13360' '13076' '14006' '10728' '15401' '13230' '12016' '11067'
 '11274' '11921' '12519' '11013' '10779' '14150' '14794' '12511' '12177'
 '12523' '14908' '12007' '14588' '13577' '13061' '15041' '14109' '10800'
 '12954' '12441' '12898' '11695' '16218' '14113' '11624' '11503' '10739'
 '14574' '14711' '12129' '15070' '14520' '13184' '11252' '12280' '13241'
 '11898' '15024' '14674' '10551' '12819' '13459' '10581' '13970' '10372'
 '10918' '14709' '12255' '11905' '10333' '15841' '13344' '13933' '15991'
 '10754' '14256' '12094' '13873' '11097' '10154' '10926' '13964' '13541'
 '15027' '10170' '10165' '15497' '12265' '14222' '14025' '13502']
['SEA' 'PBI' 'CLT' 'MIA' 'ANC' 'MSP' 'DFW' 'ATL' 'IAH' 'PDX' 'MCI' 'FLL'
 'ORD' 'HNL' 'PHX' 'EWR' 'JFK' 'MCO' 'BOS' 'BDL' 'ITO' 'SFO' 'KOA' 'OGG'
 'MYR' 'DTW' 'LIH' 'DEN' 'SJU' 'LAX' 'BWI' 'IAD' 'BQN' 'BUF' 'LGA' 'HOU'
 'SLC' 'PHL' 'SJC' 'OAK' 'LGB' 'TPA' 'DCA' 'TTN' 'BTR' 'LAS' 'RSW' 'BRD'
 'STL' 'RKS' 'MBS' 'SNA' 'MEI' 'MDW' 'SAN' 'RIC' 'AUS' 'OTZ' 'PIT' 'JAX'
 'MSY' 'ONT' 'PSP' 'BUR' 'DAL' 'CVG' 'SMF' 'RDU' 'JMS' 'BNA' 'DSM' 'MAF'
 'BOI' 'ELP' 'TUS' 'SCC' 'HPN' 'STT' 'MDT' 'RHI' 'SBP' 'MKE' 'JNU' 'CMH'
 'CLD' 'KTN' 'CAK' 'CRP' 'CLE' 'GPT' 'SHV' 'TYS' 'IND' 'LIT' 'SAT' 'SRQ'
 'TUL' 'GRK' 'PNS' 'BTV' 'CHS' 'DAY' 'OKC' 'SAV' 'XNA' 'COS' 'GJT' 'BZN'
 'PUB' 'HRL' 'HDN' 'MEM' 'GEG' 'ORH' 'SYR' 'GSO' 'VPS' 'LAW' 'ACY' 'LBB'
 'JAC' 'BIL' 'EUG' 'ASE' 'TVC' 'MTJ' 'CAE' 'PVD' 'HSV' 'CDC' 'YUM' 'ABQ'
 'TLH' 'MLI' 'AMA' 'EGE' 'MOB' 'JAN' 'FWA' 'MSN' 'BIS' 'MFR' 'APN' 'BHM'
 'OMA' 'LFT' 'GRR' 'MMH' 'CEC' 'SBA' 'RNO' 'CLL' 'LEX' 'LAN' 'DLH' 'SDF'
 'FAT' 'SPS' 'SGF' 'CID' 'FSM' 'MGM' 'MFE' 'AVP' 'SJT' 'ROA' 'LRD' 'MRY'
 'AGS' 'ROC' 'AEX' 'ISN' 'MLB' 'ORF' 'ICT' 'ECP' 'PIA' 'BPT' 'ACT' 'EYW'
 'FSD' 'MLU' 'CHA' 'WRG' 'FNT' 'DIK' 'MHK' 'CNY' 'BRW' 'GRB' 'ATW' 'SAF'
 'TYR' 'MKG' 'FLG' 'FCA' 'BTM' 'EVV' 'DRO' 'LNK' 'DBQ' 'FAR' 'OME' 'GSP'
 'GUC' 'MSO' 'TXK' 'MOT' 'RAP' 'ISP' 'PWM' 'GGG' 'SBN' 'BFL' 'MHT' 'ROW'
 'SIT' 'CMX' 'FAY' 'ILM' 'CMI' 'ALB' 'ABI' 'GTF' 'BMI' 'COU' 'HOB' 'GNV'
 'SUN' 'SPI' 'PSG' 'BRO' 'AVL' 'TOL' 'SGU' 'GCC' 'HLN' 'CPR' 'PIH' 'BET'
 'VEL' 'RDM' 'HYS' 'PSC' 'COD' 'INL' 'FAI' 'EKO' 'BJI' 'IDA' 'IMT' 'RST'
 'HIB' 'ABR' 'STC' 'ACV' 'ESC' 'CIU' 'SWF' 'DAB' 'TRI' 'AZO' 'CRW' 'STX'
 'GRI' 'CHO' 'GCK' 'PLN' 'LSE' 'SMX' 'RDD' 'PHF' 'LCH' 'GTR' 'LAR' 'ERI'
 'PAH' 'EAU' 'LBE' 'BLI' 'DVL' 'CWA' 'ILG' 'OAJ' 'ABE' 'ALO' 'ABY' 'DHN'
 'TWF' 'ADK' 'ELM' 'VLD' 'PIB' 'SUX' 'GUM' 'SCE' 'UST' 'BQK' 'JLN' 'LWS'
 'MQT' 'EWN' 'CSG' 'PBG' 'PSE' 'IAG' 'YAK' 'CDV' 'OTH' 'ADQ' 'PPG' 'GFK'
 'BGM' 'BGR' 'ITH' 'ACK' 'MVY' 'WYS' 'DLG' 'AKN' 'GST' 'HYA' '11298'
 '13487' '13303' '11057' '13930' '10693' '14747' '12266' '12478' '14057'
 '10397' '13198' '12173' '11618' '13204' '12402' '12758' '14771' '11292'
 '13830' '14107' '12982' '11697' '12519' '13577' '14869' '12339' '13232'
 '11259' '15016' '12892' '12889' '10140' '10721' '15304' '14679' '14100'
 '10732' '10821' '14831' '14843' '14570' '12191' '11433' '12264' '14893'
 '13796' '12953' '14122' '13495' '12451' '11042' '11278' '14908' '13342'
 '13891' '10299' '12523' '12954' '14520' '12129' '10713' '10431' '11066'
 '10994' '10423' '10792' '14683' '10800' '10551' '11193' '14307' '11540'
 '14635' '13851' '15376' '11884' '14492' '14027' '13970' '13184' '13296'
 '10599' '11986' '14698' '11423' '13244' '14574' '12992' '13241' '12217'
 '13871' '12197' '11003' '15919' '14524' '14689' '10529' '14576' '11995'
 '11267' '12819' '14633' '11996' '13256' '13158' '12448' '10781' '13422'
 '16218' '15370' '10868' '14730' '13931' '13485' '14986' '15024' '11823'
 '11721' '14685' '10257' '12206' '12255' '12951' '14709' '14321' '12391'
 '14794' '10874' '12278' '11638' '10372' '11122' '14457' '15096' '12896'
 '11109' '10279' '11481' '15412' '14814' '11641' '10980' '12945' '10990'
 '10157' '13076' '13230' '15295' '10918' '13933' '11953' '10135' '14262'
 '11067' '13277' '11603' '10561' '11612' '15624' '11977' '15380' '13367'
 '14193' '10333' '11778' '11140' '14783' '10136' '14842' '11049' '14696'
 '11695' '11637' '15401' '14674' '13061' '10685' '11982' '10469' '11921'
 '14108' '11413' '12891' '11905' '14960' '15411' '10155' '10747' '10728'
 '13290' '13433' '10208' '11973' '15323' '10849' '13360' '13795' '14952'
 '13377' '10408' '10627' '13344' '13476' '11775' '10158' '11898' '13029'
 '15249' '11337' '12915' '15356' '13264' '11252' '10185' '11624' '12323'
 '15841' '10785' '11146' '14098' '10434' '12389' '15991' '11315' '11150'
 '12884' '11537' '11274' '11076' '10754' '13873' '14828' '11308' '12007'
 '10731' '14588' '15607' '10146' '15070' '13486' '12003' '13127' '12177'
 '12441' '12094' '12156' '14113' '12280' '14489' '14256' '10620' '11097'
 '10779' '10631' '12888' '15389' '15041' '14252' '12343' '11648' '10154'
 '12898' '12335' '11865' '10926' '11980' '13964' '11630' '11013' '11587'
 '11111' '15027' '11203' '14905' '11471' '12511' '10268' '11447' '15048'
 '13541' '10141' '14150' '14006' '11617' '11525' '11867' '14711' '11577'
 '12016' '14487' '10739' '14109' '10165' '14543' '10577' '10170' '15497'
 '11503' '13459' '10581' '12265' '14254' '14222' '14025' '13502' '10666']

# Identificação:

- dados do tipo DOT e do Tipo IATA na mesma coluna,
- Tabela airpot possui apenas IATA
- Exclusão das linhas DOT da Tabela flights
- Retirado os Casos de Cancelados (dados que não contribuem para Analise de Atrasado na Partida)
- Retirado os casos de dados Redirecionados (dados que não contribuem para Analise de Atrasado na Partida)

In [12]:
flights.shape

(5819079, 31)

In [ ]:
flights_limpo = flights[
    (flights["ORIGIN_AIRPORT"].str.len() == 3)
    & (flights["DESTINATION_AIRPORT"].str.len() == 3)
]

In [14]:
flights_limpo.shape

(5332914, 31)

In [ ]:
flights_limpo = flights_limpo[
    (flights_limpo["CANCELLED"] == 0) & (flights_limpo["DIVERTED"] == 0)
]

In [16]:
print(f"Linhas antes: {len(flights)}")
print(f"Linhas depois: {len(flights_limpo)}")
print(f"Removidas: {len(flights) - len(flights_limpo)}")

Linhas antes: 5819079
Linhas depois: 5231130
Removidas: 587949

# Junção das Tabelas

In [ ]:
airlines_clean = airlines.rename(
    columns={"IATA_CODE": "AIRLINE", "AIRLINE": "AIRLINE_NAME"}
)


origin_airports = airports.rename(
    columns={
        "IATA_CODE": "ORIGIN_AIRPORT",
        "AIRPORT": "ORIGIN_AIRPORT_NAME",
        "CITY": "ORIGIN_CITY",
        "STATE": "ORIGIN_STATE",
        "COUNTRY": "ORIGIN_COUNTRY",
        "LATITUDE": "ORIGIN_LATITUDE",
        "LONGITUDE": "ORIGIN_LONGITUDE",
    }
)

dest_airports = airports.rename(
    columns={
        "IATA_CODE": "DESTINATION_AIRPORT",
        "AIRPORT": "DESTINATION_AIRPORT_NAME",
        "CITY": "DESTINATION_CITY",
        "STATE": "DESTINATION_STATE",
        "COUNTRY": "DESTINATION_COUNTRY",
        "LATITUDE": "DESTINATION_LATITUDE",
        "LONGITUDE": "DESTINATION_LONGITUDE",
    }
)

flights_merged = (
    flights_limpo.merge(airlines_clean, on="AIRLINE", how="left")
    .merge(origin_airports, on="ORIGIN_AIRPORT", how="left")
    .merge(dest_airports, on="DESTINATION_AIRPORT", how="left")
)

# criando a Coluna Target

- Coluna que será usada principalmente para Modelo de Classificação

In [ ]:
flights_merged["DELAY"] = flights_merged["DEPARTURE_DELAY"].apply(
    identificar_atraso
)

# Algumas Analises Inciais da Base

In [19]:
flights_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5231130 entries, 0 to 5231129
Data columns (total 45 columns):
 #   Column                    Dtype
---  ------                    -----
 0   YEAR                      int64
 1   MONTH                     int64
 2   DAY                       int64
 3   DAY_OF_WEEK               int64
 4   AIRLINE                   object
 5   FLIGHT_NUMBER             int64
 6   TAIL_NUMBER               object
 7   ORIGIN_AIRPORT            object
 8   DESTINATION_AIRPORT       object
 9   SCHEDULED_DEPARTURE       int64
 10  DEPARTURE_TIME            float64
 11  DEPARTURE_DELAY           float64
 12  TAXI_OUT                  float64
 13  WHEELS_OFF                float64
 14  SCHEDULED_TIME            float64
 15  ELAPSED_TIME              float64
 16  AIR_TIME                  float64
 17  DISTANCE                  int64
 18  WHEELS_ON                 float64
 19  TAXI_IN                   float64
 20  SCHEDULED_ARRIVAL         int64
 21  ARRIVAL_TIME              float64
 22  ARRIVAL_DELAY             float64
 23  DIVERTED                  int64
 24  CANCELLED                 int64
 25  CANCELLATION_REASON       object
 26  AIR_SYSTEM_DELAY          float64
 27  SECURITY_DELAY            float64
 28  AIRLINE_DELAY             float64
 29  LATE_AIRCRAFT_DELAY       float64
 30  WEATHER_DELAY             float64
 31  AIRLINE_NAME              object
 32  ORIGIN_AIRPORT_NAME       object
 33  ORIGIN_CITY               object
 34  ORIGIN_STATE              object
 35  ORIGIN_COUNTRY            object
 36  ORIGIN_LATITUDE           float64
 37  ORIGIN_LONGITUDE          float64
 38  DESTINATION_AIRPORT_NAME  object
 39  DESTINATION_CITY          object
 40  DESTINATION_STATE         object
 41  DESTINATION_COUNTRY       object
 42  DESTINATION_LATITUDE      float64
 43  DESTINATION_LONGITUDE     float64
 44  DELAY                     int64
dtypes: float64(20), int64(11), object(14)
memory usage: 1.8+ GB

In [20]:
valores_nulos = flights_merged.isnull().sum()
print(valores_nulos)

YEAR                              0
MONTH                             0
DAY                               0
DAY_OF_WEEK                       0
AIRLINE                           0
FLIGHT_NUMBER                     0
TAIL_NUMBER                       0
ORIGIN_AIRPORT                    0
DESTINATION_AIRPORT               0
SCHEDULED_DEPARTURE               0
DEPARTURE_TIME                    0
DEPARTURE_DELAY                   0
TAXI_OUT                          0
WHEELS_OFF                        0
SCHEDULED_TIME                    0
ELAPSED_TIME                      0
AIR_TIME                          0
DISTANCE                          0
WHEELS_ON                         0
TAXI_IN                           0
SCHEDULED_ARRIVAL                 0
ARRIVAL_TIME                      0
ARRIVAL_DELAY                     0
DIVERTED                          0
CANCELLED                         0
CANCELLATION_REASON         5231130
AIR_SYSTEM_DELAY            4227770
SECURITY_DELAY              4227770
AIRLINE_DELAY               4227770
LATE_AIRCRAFT_DELAY         4227770
WEATHER_DELAY               4227770
AIRLINE_NAME                      0
ORIGIN_AIRPORT_NAME               0
ORIGIN_CITY                       0
ORIGIN_STATE                      0
ORIGIN_COUNTRY                    0
ORIGIN_LATITUDE                4561
ORIGIN_LONGITUDE               4561
DESTINATION_AIRPORT_NAME          0
DESTINATION_CITY                  0
DESTINATION_STATE                 0
DESTINATION_COUNTRY               0
DESTINATION_LATITUDE           4569
DESTINATION_LONGITUDE          4569
DELAY                             0
dtype: int64

# Análise de valores nulos

- É possível identificar algumas features nulas/vazias
- A Tratativa será feita durante a Análise Exploratória afim de não enviezar no primeiro describe.

#### Salvando o Arquivo em Formato Parquet

In [ ]:
flights_merged.to_parquet("flights_merged.parquet", index=False)
print("Arquivo Parquet gerado com sucesso!")

Arquivo Parquet gerado com sucesso!